<div class="productos-container">
  <h1>Gestión de Productos</h1>
  
  <!-- Formulario para agregar -->
  <div class="formulario">
    <h2>Agregar Nuevo Producto</h2>
    <div class="fila">
      <div class="campo">
        <label>📦 Nombre:</label>
        <input type="text" [(ngModel)]="nuevoProducto.nombre" placeholder="Ej: Laptop HP">
      </div>
      
      <div class="campo">
        <label>💰 Precio:</label>
        <input type="number" [(ngModel)]="nuevoProducto.precio" placeholder="Ej: 2500000">
      </div>
      
      <div class="campo">
        <label>📊 Stock:</label>
        <input type="number" [(ngModel)]="nuevoProducto.stock" placeholder="Ej: 10">
      </div>
      
      <button class="btn-crear" (click)="crearProducto()">➕ Agregar</button>
    </div>
  </div>
  
  <!-- Tabla de productos -->
  <div class="tabla-container">
    <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:15px;">
  <h2>Lista de Productos</h2>

  <button
    class="btn-crear"
    (click)="exportarPDF()">

    📄 Exportar PDF

  </button>
</div>
    <div
  *ngIf="productos.some(p => p.stock < 5)"
  style="
    background:#fee2e2;
    color:#b91c1c;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
    font-weight:bold;
    border:2px solid #ef4444;
  ">

  ⚠ ALERTA DE INVENTARIO

  <div *ngFor="let p of productos">

    <span *ngIf="p.stock < 5">

      📦 {{ p.nombre }} tiene solamente
      {{ p.stock }} unidades disponibles.

    </span>

  </div>

</div>
    
    <div *ngIf="loading">Cargando...</div>
    
    <table *ngIf="!loading">
      <thead>
        <tr><th>Nombre</th><th>Precio</th><th>Stock</th><th>Acciones</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productos">
          <!-- Si NO se está editando -->
          <ng-container *ngIf="editando?._id !== p._id">
            <td>{{ p.nombre }}</td>
            <td>{{ p.precio | currency:'COP':'$':'1.0-0' }}</td>
            <td>
  <span
    [style.color]="p.stock < 5 ? 'red' : p.stock <= 10 ? '#f59e0b' : 'green'"
    [style.fontWeight]="'bold'">

    {{ p.stock }}

    <span *ngIf="p.stock < 5">
      ⚠ STOCK BAJO
    </span>

  </span>
</td>
            <td>
              <button class="btn-editar" (click)="editarProducto(p)">✏️ Editar</button>
              <button class="btn-eliminar" (click)="eliminarProducto(p._id)">🗑️ Eliminar</button>
            </td>
          </ng-container>
          
          <!-- Si SE está editando -->
          <ng-container *ngIf="editando?._id === p._id">
            <td><input [(ngModel)]="editando.nombre" class="edit-input"></td>
            <td><input type="number" [(ngModel)]="editando.precio" class="edit-input"></td>
            <td><input type="number" [(ngModel)]="editando.stock" class="edit-input"></td>
            <td>
              <button class="btn-guardar" (click)="guardarEdicion()">💾 Guardar</button>
              <button class="btn-cancelar" (click)="cancelarEdicion()">❌ Cancelar</button>
            </td>
          </ng-container>
        </tr>
        <tr *ngIf="productos.length === 0">
          <td colspan="4">No hay productos registrados</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
